<!doctype html>
<html>
    <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, minimal-ui">
    <link rel="stylesheet" 
    href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css">
    <title>{{#resume.basics}}{{name}}{{/resume.basics}}</title>

    <style>
    {{{css}}}
    </style>

    </head>
    <body>

    <div id="resume">
        {{> basics }}
        {{> skills }}
        {{> projects }}
        {{> work }}
        {{> volunteer }}
        {{> education }}
        {{> awards }}
        {{> references }}
    </body>
</html>
